services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - DOCKER_MODS=ghcr.io/gabe565/linuxserver-mod-vuetorrent
    volumes:
      - $DOCKER_DATA/qbittorrent/config:/config
      - $DOCKER_DOWNLOAD/qbittorrent:/downloads
      - $DOCKER_MEDIA/download/qbittorrent:/seeding
    networks:
      - homelab
    ports:
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
networks:
  homelab:
    external: true
