services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1
    container_name: pocket-id
    restart: unless-stopped
    environment:
      - APP_URL=https://pocket-id.aererus.nl
      - TRUST_PROXY=true
      - ENCRYPTION_KEY=${POCKET_ID_KEY}
      - TZ=Europe/Amsterdam
    networks:
      - homelab
    volumes:
      - ${DOCKER_DATA}/pocket-id/data:/app/data
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
networks:
  homelab:
    external: true