services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    networks:
      - homelab
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=1000
      - PGID=44
      - TZ=Etc/UTC
      - VERSION=docker
      - PLEX_CLAIM=${CLAIM_TOKEN}
    volumes:
      - $DOCKER_DATA/plex/config:/config
      - $DOCKER_DATA/plex/transcode:/transcode
      - $DOCKER_MEDIA:/media
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412-32414:32412-32414/udp
      - 5353:5353/udp
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
networks:
  homelab:
    external: true