services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - $DOCKER_DATA/sabnzbd/config:/config
      - $DOCKER_DOWNLOAD/sabnzbd:/downloads #optional
      - $DOCKER_DOWNLOAD/sabnzbd/incomplete:/incomplete-downloads #optional
    networks:
      - homelab
    restart: unless-stopped
networks:
  homelab:
    external: true
